<app-page-header [heading]="'Player Profile'"></app-page-header>

<section class="main-section">
  <div class="container" style="padding-top:70px">

    <div class="col-xs-12 col-md-4 col-lg-4 sp-sidebar">

      <div class="col-xs-12" style="padding:0px">
        <!--profile image -->
        <div class="profile-img-container row">
          <img src="./assets/img/bg-one.jpg" class="profile-img img-responsive"/>
          <div class="col-xs-12 profile-img-overlay no-padding">
            <div class="col-xs-12 no-padding">
              <div class="col-xs-8">
                <p>LIHI AVRAHAM</p>
              </div>
              <div class="col-xs-4 text-right" style="padding-top:10px;">
                <a href="#" class="btn-icon">
                  <i class="fa fa-camera" style="color:#fff;font-size:25px"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-12">
              Membership Status <span class="status-circle"></span>Active
            </div>
          </div>
        </div>
        <!--image end-->
        <!--profile menu-->
        <div class="profile-menu row">
          <div class="profile-menu-link-container active">
            <i class="fa fa-video-camera"></i>
            <a href="#" class="profile-menu-link">FreeStyle/Game & Practice Videos</a>
          </div>
          <div class="profile-menu-link-container">
            <i class="fa fa-clipboard"></i>
            <a href="#" class="profile-menu-link">Request a new coach report</a>
          </div>
          <div class="profile-menu-link-container">
            <i class="fa fa-eye"></i>
            <a href="#" class="profile-menu-link">View coach reports</a>
          </div>
          <div class="profile-menu-link-container">
            <i class="fa fa-envelope"></i>
            <a href="#" class="profile-menu-link">Messages</a>
            <span class="badge pull-right" style="background:#16a2f4">4</span>
          </div>
          <div class="profile-menu-link-container">
            <i class="fa fa-briefcase"></i>
            <a href="#" class="profile-menu-link">Positions Applied</a>
            <span class="badge pull-right">1</span>
          </div>
          <div class="profile-menu-link-container">
            <i class="fa fa-facebook"></i>
            <a href="#" class="profile-menu-link">Share my profile</a>
          </div>
          <div class="profile-menu-link-container">
            <i class="fa fa-arrow-up"></i>
            <a href="#" class="profile-menu-link">Upgrade my profile</a>
          </div>
        </div>
        <!--profile menu end -->
        <!--upload videos -->
        <div class="profile-upload-videos row">
          <div><i class="fa fa-cloud-upload"></i> Upload Videos</div>
          <div class="profile-upload-box">
            <i class="fa fa-cloud-upload fa-2x" style="color:#000"></i>
          </div>
          <div class="col-xs-12">
            <input type="checkbox" class="css-checkbox" id="checkbox1" checked="checked">
            <label for="checkbox1" name="checkbox1_lbl" class="css-label dark-check-green">
              FreeStyle Video
            </label>
          </div>
          <div class="col-xs-12">
            <input type="checkbox" class="css-checkbox" id="checkbox2">
            <label for="checkbox2" name="checkbox2_lbl" class="css-label dark-check-green">
              Practice & Game
            </label>
          </div>
          <div class="col-xs-12">
            <a href="#" class="btn btn-create pull-right" style="margin-top:10px;font-size:14px">UPLOAD</a>
          </div>
        </div>
        <!--upload videos end -->
      </div>

    </div>
    <div class="col-lg-1"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="">
        <div class="col-xs-6 profile-details">
          <h4 class="green-text">PROFESSIONAL INFORMATION</h4>
          <p><span class="lightblue-text">Role: </span>Goal Keeper</p>
          <p><span class="lightblue-text">Level: </span>Professional</p>
          <p><span class="lightblue-text">Club: </span>Macabbi Tel-Aviv</p>
          <p><span class="lightblue-text">Experience: </span>5 years</p>
        </div>
        <div class="col-xs-6 profile-details">
          <h4 class="green-text">PERSONAL INFORMATION</h4>
          <p><span class="lightblue-text">Country: </span>Israel</p>
          <p><span class="lightblue-text">Age: </span>12 </p>
          <p>
            <span class="lightblue-text">My sport story</span><br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <!-- freestyle videos section -->
      <div class="col-xs-12">
        <h4 class="green-text">FREESTYLE VIDEOS</h4>
        <hr/>
        <!-- profile videos -->
        <div class="profile-videos">

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>


        </div>
        <!-- profile videos end -->
      </div>
      <!-- freestyle videos section end -->
      <!-- practice and game videos section -->
      <div class="col-xs-12" style="margin-top:50px;">
        <h4 class="green-text">PRACTICE AND GAME VIDEOS</h4>
        <hr/>
        <!-- profile videos -->
        <div class="profile-videos">

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
            <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
          </div>



        </div>
        <!-- profile videos end -->
      </div>
      <!-- practice and game videos section end -->
    </div>

  </div>
</section>
