<div class="section-create">
  <div class="container" style="padding-top:50px">
    <div class="row">
      <div class="col-md-6" style="padding-right: 100px;">
        <h3 class="create-one">Create your Player Profile</h3>
        <h3 class="create-two">ITS FAST AND EASY</h3>

        <div class="row">
          <div class="col-md-9">
            <div class="bg-step-one">
              <h4 class="header-create">CREATE PROFILE</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">1</h2>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px; padding-left: 15px;">
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">2</h2>
            </div>
          </div>
          <div class="col-md-9" style="padding-right: 0px;">
            <div class="bg-step-one">
              <h4 class="header-create">UPLOAD VIDEOS</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px;">
          <div class="col-md-9">
            <div class="bg-step-one">
              <h4 class="header-create">BECOME A MEMBER</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">3</h2>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px; padding-left: 15px;">
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">4</h2>
            </div>
          </div>
          <div class="col-md-9" style="padding-right: 0px;">
            <div class="bg-step-one">
              <h4 class="header-create">SEARCH AND CONTACT PLAYERS</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" style="padding-right: 100px;">
        <h3 class="create-one">Create your Coach or Scout Profile</h3>
        <h3 class="create-two">ITS FAST AND EASY</h3>

        <div class="row">
          <div class="col-md-9">
            <div class="bg-step-one">
              <h4 class="header-create">CREATE PROFILE</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">1</h2>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px; padding-left: 15px;">
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">2</h2>
            </div>
          </div>
          <div class="col-md-9" style="padding-right: 0px;">
            <div class="bg-step-one">
              <h4 class="header-create">BECOME A MEMBER</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px;">
          <div class="col-md-9">
            <div class="bg-step-one">
              <h4 class="header-create">POST AVAILALE POSITIONS</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">3</h2>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px; padding-left: 15px;">
          <div class="col-md-3 bg-step-two">
            <div class="bg-inner">
              <h4 class="header-step">STEP</h4>
              <h2 class="header-num">4</h2>
            </div>
          </div>
          <div class="col-md-9" style="padding-right: 0px;">
            <div class="bg-step-one">
              <h4 class="header-create">RECIEVE A COACH REPORT</h4>
              <div class="text-region">
                <p class="par-create">Start by creating your own football story profile. Fill out your personal and professional details</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container add-bg">
    <div class="row">
      <div class="col-md-7 col-md-offset-5" style="padding-left: 50px; padding-right: 50px; padding-top:15px;">
        <h3>CONGRATULATIONS</h3>

        <p style="margin-top: 40px;" class="final-par">
          <strong>Player</strong> <br />
          you have made your first step in fulfilling your dream of playing in a <br />
          professional league
        </p>

        <p class="final-par">
          <strong>Scout/Coach</strong> <br />
          you may have just found the next star of tomorrow
        </p>
      </div>
    </div>
  </div>
</div>
