<div class="col-xs-12 col-md-3 sp-sidebar" style="padding:10px">
  <!--player position start-->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> Role</h4>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" checked="checked">
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Keeper
      </label>
      <span class="pull-right">(341)</span>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Full Back
      </label>
      <span class="pull-right">(71)</span>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Stopper
      </label>
      <span class="pull-right">(91)</span>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Center Back
      </label>
      <span class="pull-right">(45)</span>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Attacker
      </label>
      <span class="pull-right">(234)</span>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Striker
      </label>
      <span class="pull-right">(247)</span>
    </div>

  </div>
  <!-- filter position end-->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--filter age -->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> Age</h4>
    <div class="col-xs-12 filters">
      <input id="ex2" type="text" class="span2" value=""
             data-slider-min="6" data-slider-max="16"
             data-slider-step="1" data-slider-value="[8,12]"/>
      <div class="row">
        <div class="col-xs-6">6</div>
        <div class="col-xs-6" style="text-align:right">12</div>
      </div>
    </div>
  </div>
  <!-- filter age end-->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--gender start-->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> Gender</h4>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" checked>
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Male
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Female
      </label>
    </div>

  </div>
  <!--gender end -->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--club start-->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> Club</h4>
    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" checked>
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        No Club
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Play for a club
      </label>
    </div>
  </div>
  <!--club end -->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--level start-->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> Level</h4>
    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" checked>
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Amateur
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Semi Professional
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Professional
      </label>
    </div>
  </div>
  <!--level end -->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--experience start-->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> Experience</h4>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" checked>
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        Less than a year
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        1 Year
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        1-3 Year
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        3-5 Year
      </label>
    </div>

    <div class="col-xs-12 filters">
      <input type="checkbox" class="css-checkbox" id="checkbox19" >
      <label for="checkbox19" name="checkbox19_lbl" class="css-label dark-check-green">
        More than 5 years
      </label>
    </div>
  </div>

  <!--level end -->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--city/state start-->
  <div class="col-xs-12" style="padding-left:0px">
    <h4><i class="fa fa-caret-right green-text"></i> City / State</h4>

    <div class="col-xs-12 filters">
      <input type="text" class="form-control"
             placeholder="Enter your location" />

    </div>
  </div>
  <!--city/state end -->
  <div class="col-xs-12 filter-divider">&nbsp;</div>
  <!--button start-->
  <div class="col-xs-12" style="padding-left:0px">
    <div class="col-xs-12 filters">
      <button type="submit" style="height:50px"
              class="btn btn-block btn-register">Clear Filters</button>
    </div>
  </div>
  <!--button end -->
</div>
