<footer>
  <div class="col-xs-12 footer-wrapper">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="row col-xs-12 footer-links pull-right">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
          <div class="col-xs-2 text-left" style="padding-left:0px">
            <a href="#">Contact</a> &nbsp;
          </div>
          <div class="col-xs-4 text-left" style="padding-right: 0px;width: 24%;">
            <a href="#">Terms of use</a>   &nbsp;
          </div>
          <div class="col-xs-4 text-left">
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12 text-right">
          <p style="color: #444444; font-size: 15px; font-weight: 300;">
            All rights reserved to Sportale 2017</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-2">
            <img src="assets/img/Facebook.png" class="social-icon" />
          </div>
          <div class="col-xs-2">
            <img src="assets/img/Google.png" class="social-icon" />
          </div>
          <div class="col-xs-2">
            <img src="assets/img/Twitter.png" class="social-icon" />
          </div>
          <div class="col-xs-2">
            <img src="assets/img/Youtube.png" class="social-icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
