<div class="skew-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/player.png" class="img-career" />
        <h3 class="header-two">YOUR FOOTBALL CAREER</h3>
        <h3 class="header-three">IS OUR GOAL</h3>

        <p>MySportale is an online scouting network and a social platform for all football players, coaches, scouts and fans.</p>
        <p>Our networking platfrom is targeted at young players from the age of 6-16 who are looking to develop a football career. We give you the opportunity to tell us your football story and help you spread the word to the world</p>
        <p>Everyone can create a FREE account and communicate with others to grow their network. Users can create football events and tag their friends, teamates etc. Players can recieve a coach report by one of our reputable coaches and get ranked by guests on free style ("virtuoso") videos.</p>

        <div class="text-center">
          <a href="#" class="btn btn-create">CREATE PROFILE</a>
        </div>
      </div>

      <div class="col-md-6">
        <img src="assets/img/scout-or-coach.png" class="img-career" style="margin-left: -20px; height: 83px; margin-bottom: -20px;" />
        <h3 class="header-two">FINDING YOUR NEXT FOOTBALL STAR</h3>
        <h3 class="header-three">IS OUR GOAL</h3>

        <p>MySportale is an online scouting network and a social platform for all football players, coaches, scouts and fans.</p>
        <p>Our networking platfrom is targeted at young players from the age of 6-16 who are looking to develop a football career. We give you the opportunity to tell us your football story and help you spread the word to the world</p>
        <p>Everyone can create a FREE account and communicate with others to grow their network. Users can create football events and tag their friends, teamates etc. Players can recieve a coach report by one of our reputable coaches and get ranked by guests on free style ("virtuoso") videos.</p>

        <div class="text-center">
          <a href="#" class="btn btn-create">CREATE PROFILE</a>
        </div>
      </div>
    </div>
  </div>
</div>
