<app-page-header [heading]="'Available Positions'"></app-page-header>
<section class="section-bodymain position-bg">
  <div class="container" style="padding-top:70px">
    <!-- position box -->
    <div class="col-xs-12 position no-padding">
      <div class="col-xs-12 no-padding" style="padding:20px;">
        <div class="col-xs-3 col-md-2 col-lg-1">
          <a href="#">
            <img src="assets/img/available-position.png"
                 alt="step-2" class=" alt-img-thumb">
          </a>
        </div>
        <div class="col-xs-9 col-md-10 col-lg-11 no-padding">
          <div class="col-xs-9">
            <h4 class="position-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h4>
            <h5>Published By Lihi Avraham <span class="position-title">|</span> Scout</h5>
          </div>
          <div class="col-xs-3 no-padding text-right">
            Position Number: 1237839
          </div>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-6 no-padding">
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Role: </span>Goal Keeper</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Preferred Foot: </span>Right</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Player Age: </span>12</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Club: </span>Maccabi Tel Aviv</h4>
          </div>
        </div>
        <div class="col-xs-6 position-more-details" style="top:-40px">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <a href="#" class="pull-right btn position-btn"
           style="position:initial;margin-top:0px;margin-bottom:20px">
          APPLY
        </a>
      </div>
    </div>
    <!-- position box end -->
    <!-- position box -->
    <div class="col-xs-12 position no-padding">
      <div class="col-xs-12 no-padding" style="padding:20px;">
        <div class="col-xs-3 col-md-2 col-lg-1">
          <a href="#">
            <img src="assets/img/available-position.png"
                 alt="step-2" class=" alt-img-thumb">
          </a>
        </div>
        <div class="col-xs-9 col-md-10 col-lg-11 no-padding">
          <div class="col-xs-9">
            <h4 class="position-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h4>
            <h5>Published By Lihi Avraham <span class="position-title">|</span> Scout</h5>
          </div>
          <div class="col-xs-3 no-padding text-right">
            Position Number: 1237839
          </div>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-6 no-padding">
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Role: </span>Goal Keeper</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Preferred Foot: </span>Right</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Player Age: </span>12</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Club: </span>Maccabi Tel Aviv</h4>
          </div>
        </div>
        <div class="col-xs-6" style="top:-40px">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <a href="#" class="pull-right btn position-btn"
           style="position:initial;margin-top:0px;margin-bottom:20px">
          APPLY
        </a>
      </div>
    </div>
    <!-- position box end -->
    <!-- position box -->
    <div class="col-xs-12 position no-padding">
      <div class="col-xs-12 no-padding" style="padding:20px;">
        <div class="col-xs-3 col-md-2 col-lg-1">
          <a href="#">
            <img src="assets/img/available-position.png"
                 alt="step-2" class=" alt-img-thumb">
          </a>
        </div>
        <div class="col-xs-9 col-md-10 col-lg-11 no-padding">
          <div class="col-xs-9">
            <h4 class="position-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h4>
            <h5>Published By Lihi Avraham <span class="position-title">|</span> Scout</h5>
          </div>
          <div class="col-xs-3 no-padding text-right">
            Position Number: 1237839
          </div>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-6 no-padding">
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Role: </span>Goal Keeper</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Preferred Foot: </span>Right</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Player Age: </span>12</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Club: </span>Maccabi Tel Aviv</h4>
          </div>
        </div>
        <div class="col-xs-6" style="top:-40px">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <a href="#" class="pull-right btn position-btn"
           style="position:initial;margin-top:0px;margin-bottom:20px">
          APPLY
        </a>
      </div>
    </div>
    <!-- position box end -->
    <!-- position box -->
    <div class="col-xs-12 position no-padding">
      <div class="col-xs-12 no-padding" style="padding:20px;">
        <div class="col-xs-3 col-md-2 col-lg-1">
          <a href="#">
            <img src="assets/img/available-position.png"
                 alt="step-2" class=" alt-img-thumb">
          </a>
        </div>
        <div class="col-xs-9 col-md-10 col-lg-11 no-padding">
          <div class="col-xs-9">
            <h4 class="position-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h4>
            <h5>Published By Lihi Avraham <span class="position-title">|</span> Scout</h5>
          </div>
          <div class="col-xs-3 no-padding text-right">
            Position Number: 1237839
          </div>
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="col-xs-6 no-padding">
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Role: </span>Goal Keeper</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Preferred Foot: </span>Right</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Player Age: </span>12</h4>
          </div>
          <div class="position-side-strip">
            <h4 class="no-margin"><span class="lightblue-text">Club: </span>Maccabi Tel Aviv</h4>
          </div>
        </div>
        <div class="col-xs-6" style="top:-40px">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <a href="#" class="pull-right btn position-btn"
           style="position:initial;margin-top:0px;margin-bottom:20px">
          APPLY
        </a>
      </div>
    </div>
    <!-- position box end -->
  </div>
</section>
