<app-page-header [heading]="'Freestyle'"></app-page-header>
<div class="section-bodymain">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="feeds-header">Recommended</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 60px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="feeds-header">Recently Viewed</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="feeds-header">Recently Updated</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 sp-div-5 video-item">
        <iframe src="https://www.youtube.com/embed/2MNaq8N0lvE" frameborder="0" allowfullscreen></iframe>
        <div class="caption-container">
          <h4>Lilhi Avaraham - Video name </h4>
          <p>Published on 25 April</p>
          <span class="pull-left">19,203 views</span>
          <span class="pull-right"><img src="assets/img/star.png" /> </span>
        </div>
      </div>
    </div>
  </div>
</div>
